.government_nepali_title{
    font-size:10px;
    padding-bottom: 260px;
    color: red;
    font: bold;
}
.government_english_title{
    font-size: 10px;
    padding-bottom: 240px;
    color: red;
    font:bold;
}
.licence_nepali_title{
    font-size: 10px;
    color: black;
    padding-bottom: 220px;

}
.licence_english_title{
    font-size: 10px;
    color: black;
    padding-bottom: 200px;

}

.name{
    padding-left: 50px;
}
.address{
    padding-left: 50px;
}
.cno{
    padding-left: 50px;
}
.licenceoffice{
    padding-left: 50px;
}
.dob{
    padding-left: 50px;
}
.fhname{
    padding-left: 50px;
}
.cno{
    padding-left: 50px;
}
.pno{
    padding-left: 50px;
}
