<ion-header>
  <ion-toolbar color="primary">
    <ion-title>License</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/a/a2/New_Emblem_of_Nepal.svg"
   style="height: 50px;">
   <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Flag_of_Nepal.svg"
   style="height: 50px; padding-left: 230px;">
   <ion-title class="government_nepali_title">नेपाल सरकार</ion-title>
  <ion-title class="government_english_title">Government of Nepal</ion-title>
  <ion-title class="licence_nepali_title">सवारी चालक अनुमतिपत्र</ion-title>
  <ion-title class="licence_english_title">DRIVING LICENCE</ion-title>
  <br>
  <br>
  

  <ion-header class="dlno"style="color: black;" >D.L.No.: 787686876876</ion-header>
  <ion-header class="bg" style="color: black;" >B.G.:O+</ion-header>
  <ion-header class="name" style="color: black;" >Name: Subarna Shrestha</ion-header>
  <ion-header class="address" style="color: black;">Address: Karyabinayk,Lalitpur</ion-header>
  <ion-header class="cno" style="color: black;">Contact Number: 9818122966</ion-header>
  <ion-header class="licenceoffice" style="color: black;">License Office: 123456789</ion-header>
  <ion-header class="dob" style="color: black;">DOB: 2078/01/02</ion-header>
  <ion-header class="fhname" style="color: black;">F/H Name: Babu Ratna Shrestha</ion-header>
  <ion-header class="cno" style="color: black;">Citizenship Number: 123456789</ion-header>
  <ion-header class="pno" style="color: black;">Passport Number: 123456789</ion-header>
  <ion-header class="doi" style="color: black;" >D.O.I: 2079/01/01</ion-header>
  <ion-header class="doe" style="color: black;" >D.O.E: 2089/01/01</ion-header>
</ion-card>
</ion-content>
