<ion-header>
  <ion-toolbar color="primary" shape="round">
    <ion-title>Licence Documents</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-searchbar
    showcancelbutton=""
    (ionInput)="filterList($event)"
  ></ion-searchbar>

  <ion-list lines="none">
    <ion-item *ngFor="let documentItem of licenseList">
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>{{ documentItem.title }}</h3>
        </ion-text>
        <ion-card>
          <img src="{{documentItem.imageUrl}}">
        </ion-card>
        <p>----------------------------------------------------</p>
      </ion-label>
    </ion-item>
  </ion-list>   




  <!-- <ion-item>
    <ion-checkbox color="primary"></ion-checkbox>
    <ion-label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> I hereby provide my consent to <br> DigiDocs to 
      share my details with the <br>Issuers for the purpose of fetching my <br>documents.</ion-label>

  </ion-item> -->
  <br>
  
  <ion-button shape="round" expand="full" color="primary">Get Document</ion-button>


</ion-content>
