<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide, center">
        <app-logo></app-logo>
        <h2>Welcome to DigiDocs</h2>
        <p>The <b>DigiDocs app</b> is an online platform that helps to store vehicle related documents online safely.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <h1>What is Ionic?</h1>
      <p><b>Ionic Framework</b></p>
    </ion-slide>
    
    <ion-slide>
      <h3>Ready to Go?</h3>
      <app-start></app-start>
    </ion-slide>

  </ion-slides>
</ion-content>