ion-title{
    text-align: center;
}
a{
    font-size: large;
    color: black;
}

ion-content{
    --ion-background-color:linear-gradient(#ffffff, #ffffffef);
}
ion-label{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;

}
ion-input{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}