<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <section>
    <ion-grid col-9>
      <ion-row>
        <ion-col >
          <ion-card (click)="addDocuments()" text-center padding color="danger">
            <ion-icon name="add-circle"></ion-icon>
            <h2>Add Licence </h2>
          </ion-card>
        </ion-col>
        <ion-col >
          <ion-card (click)="addBluebookDocuments()" text-center padding color="danger">
            <ion-icon name="add-circle"></ion-icon>
            <h2>Add BlueBook</h2>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card (click)="addInsuranceDocuments()" text-center padding color="danger">
            <ion-icon name="add-circle"></ion-icon>
            <h2>Add Insurance Paper</h2>
          </ion-card>
        </ion-col>

        <ion-col col-6>
          <ion-card text-center padding color="danger">
            <ion-icon name="add-circle"></ion-icon>
            <h2>Log Out</h2>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </section>
</ion-content>
