ion-icon{
    font-size: 5em;
    padding-left: 30px;
    
}
h2{
    text-align: center;
}

ion-card{
    margin-left: -1px;
    
    height: 75%;
    background-color:rgb(104, 99, 109);
    width: 100%;
}