<ion-header>
  <ion-toolbar color="primary" shape="round">
    <ion-title>Browse Documents</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-searchbar (ionInput)="search($event)" color="light" animated placeholder="Input your citizenship Id"></ion-searchbar>
  <br>
  <ion-item *ngFor="let document of resultDocument">
    <ion-avatar>
      <img src="{{document.imageUrl}}" alt="" srcset="">
    </ion-avatar>
    <ion-label>
      {{document.title}}
    </ion-label>
  </ion-item>
  <!-- <ion-item>
    <ion-checkbox color="primary"></ion-checkbox>
    <ion-label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> I hereby provide my consent to <br> DigiDocs to 
      share my details with the <br>Issuers for the purpose of fetching my <br>documents.</ion-label>

  </ion-item> -->
  <br>
  
  <ion-button shape="round" expand="full" color="primary">Get Document</ion-button>


</ion-content>
