<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="license">
      <ion-icon name="documents"></ion-icon>
      <ion-label>Issued Documents</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="browse">
      <ion-icon name="search"></ion-icon>
      <ion-label>Browse</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="insurancepaper">
      <ion-icon name="document"></ion-icon>
      <ion-label>Insurance Paper</ion-label>
    </ion-tab-button>-->
  </ion-tab-bar> 

</ion-tabs>
