<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="license">
      <ion-icon  name="document"></ion-icon>
      <ion-label>License</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="browse-papers">
      <ion-icon name="search"></ion-icon>
      <ion-label>Browse</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
