<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Documents</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items | async">
      <ion-card slot="start" *ngIf="item.imageUrl">
        <img [src]="item.imageUrl" alt="">
        <ion-title>{{ item.title }}</ion-title>
      </ion-card>
      
      <ion-button slot="end" fill="clear" color="danger" (click)="remove(item)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
